{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        ;; malli removed for faster startup - using inline validation
        cheshire/cheshire {:mvn/version "5.13.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}}

 :aliases
 {:kaocha {:extra-paths ["test"]
           :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                        lambdaisland/kaocha {:mvn/version "1.87.1366"}
                        clj-http/clj-http {:mvn/version "3.12.3"}}
           :main-opts ["-m" "kaocha.runner"]}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      lambdaisland/kaocha {:mvn/version "1.87.1366"}
                      clj-http/clj-http {:mvn/version "3.12.3"}}}

  :examples {:extra-paths ["examples"]}

  :benchmark {:extra-paths ["test"]
              :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                           org.clojure/test.check {:mvn/version "1.1.1"}}
              :jvm-opts ["-Xmx2g" "-server"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
          :ns-default build}

  :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.26.2"}}
         :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
